requests
websockets
ujson
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-redis
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-urllib3