fastapi
python-multipart
uvicorn
celery[redis]
redis
docling==2.94.0
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-redis
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-urllib3